:root {
    --white-color: #fff;
    --primary-color: #2a2c33;
    --input-icon-color: #737373;
    --dark-color: #202020;
    --dark-lighter-color: #262626;
    --blue-color: #07f;
    --red-color: #ff4d4d;
    --input-border-color: #ECEFF9;
    --input-hover-color: #F7F9FC;
    --light-grey-color: #cccfdb
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 65.5%;
    scroll-behavior: smooth
}

body {
    overflow-x: hidden;
    background: #f2f2ff;
    font-family: 'Open Sans', sans-serif
}

h1 {
    font-size: 3.8rem;
    line-height: 4rem
}

h2 {
    font-size: 3rem;
    line-height: 4rem
}

h3 {
    font-size: 2.4rem;
    line-height: 4rem
}

h4 {
    font-size: 1.8rem;
    line-height: 2rem
}

h5 {
    font-size: 1.4rem;
    line-height: 2rem
}

h6 {
    font-size: 1.2rem;
    line-height: 2rem
}

.text-center {
    text-align: center
}

.center {
    margin: 0 auto
}

.hide {
    display: none
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto
}

[class*=col-] {
    float: left;
    padding: 15px
}

.cursor-lg {
    cursor: pointer
}

.body,
.box,
.head,
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    color: var(--primary-color);
    width: 100%
}

.page-container {
    margin-top: 1rem;
    align-items: start
}

.brand-logo-panel {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    gap: 3rem
}

.brand-logo-panel img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 15rem;
    max-width: auto
}

.brand-logo-panel img:first-child {
    height: 13.5rem
}

.box {
    background: var(--white-color);
    box-shadow: rgba(50, 50, 93, .25) 0 2px 5px -1px, rgba(0, 0, 0, .3) 0 1px 3px -1px;
    padding: 2.5rem 3rem;
    margin: 1rem 0;
    border-radius: 18px;
    font-size: 1.4rem;
    flex-direction: row;
    font-weight: 600;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto
}

.box img {
    max-width: 100%;
    max-height: 26rem;
    height: auto
}

.body {
    margin-top: 3rem
}

.box .body,
.icon {
    color: var(--input-icon-color)
}

.heading {
    color: var(--primary-color)
}

.body,
.head {
    width: 100%
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem
}

.no-space-input-group {
    margin: 0 auto
}

.input-labels {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline
}

.input-labels a {
    color: var(--primary-color);
    font-size: 1.1rem;
    float: right
}

.input-wrapper {
    display: flex;
    width: 100%;
    height: 4.3rem;
    border: 1px solid var(--input-border-color);
    box-shadow: 0 1px 2px var(--input-border-color);
    color: var(--primary-color);
    border-radius: 10px;
    outline: 0;
    padding-left: 1.8rem;
    align-items: center;
    transition: .2s;
    background: var(--white-color);
    cursor: text
}

.input-wrapper:focus-within {
    border: 2px solid var(--blue-color);
    background: var(--white-color)
}

.input-wrapper:hover {
    background: var(--input-hover-color)
}

.invalid-input .icon {
    color: var(--red-color)
}

.invalid-input.input-wrapper {
    border: 2px solid var(--red-color)
}

.validate-input {
    margin: 1rem.6rem;
    color: var(--red-color);
    font-size: 1.1rem
}

.icon {
    min-width: 50px;
    text-align: center
}

.input-field {
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    background: 0 0;
    font-size: 1.3rem
}

.input-group button {
    width: 100%;
    height: 4.3rem;
    font-size: 1.2rem;
    border: none;
    outline: 0;
    box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
    border-radius: 15px;
    transition: .2s;
    background: var(--dark-color);
    color: var(--white-color)
}

.input-group button:hover {
    background: var(--dark-lighter-color)
}

.link {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
    line-height: 1.6
}

.link:hover {
    text-decoration: underline
}

.checkbox-wrapper-4 * {
    box-sizing: border-box
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    transition: all .2s ease;
    display: inline-block
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: .6rem
}

.checkbox-wrapper-4 .cbx:hover {
    background: rgba(0, 119, 255, .06)
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0)
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid var(--light-grey-color);
    transition: all .2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, .05)
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: var(--white-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all .3s ease;
    transition-delay: .1s;
    transform: translate3d(0, 0, 0)
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: .8rem;
    font-size: 1.3rem;
    line-height: 1.8rem
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: var(--blue-color)
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
    background: var(--blue-color);
    border-color: var(--blue-color);
    animation: wave-4 .4s ease
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none
}

.loader {
    position: relative
}

.loader::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top: 2px solid var(--dark-lighter-color);
    animation: spin 1s linear infinite
}

.social {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem
}

.social-icons {
    margin: 3rem 0 !important;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between
}

.social-icons li {
    display: inline-block
}

.social-icons a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 700
}

.divider {
    overflow: hidden;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.3rem
}

.divider::after,
.divider::before {
    background-color: var(--light-grey-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%
}

.divider::before {
    right: .5em;
    margin-left: -50%
}

.divider::after {
    left: .5em;
    margin-right: -50%
}

.content-right {
    align-self: flex-end
}

ul {
    list-style: none
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0)
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@media screen and (max-width:640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(.9)
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(.9)
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(.9)
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(.9)
    }
}

@media screen and (max-width:992px) {

    .cursor-lg,
    .link {
        cursor: none
    }

    .page-container {
        align-items: center
    }

    .box {
        padding: 3rem 2rem;
        margin: 1.5rem 0;
        flex-direction: column
    }

    .box img {
        max-height: 20rem
    }

    .checkbox-wrapper-4 .cbx {
        cursor: none
    }

    .content img {
        height: 26rem
    }
}