:root {
    --box-bg: #fff;
    --theme-color: #fff;
    --primary-color: #2a2c33;
    --input-icon-color: #737373;
    --dark-color: #202020;
    --dark-lighter-color: #262626;
    --blue-color: #07f;
    --red-color: #ff4d4d;
    --orange-color: #ffedcc;
    --input-border-color: #d8def3;
    --input-hover-color: #F7F9FC;
    --light-grey-color: #cccfdb;
    --menu-bg: #e6e6e6;
}

.dark {
    --theme-color: #0d0d0d;
    --primary-color: #f2f2f2;
    --input-icon-color: #b3b3b3;
    --dark-color: #f2f2f2;
    --dark-lighter-color: #d9d9d9;
    --blue-color: #07f;
    --red-color: #ff4d4d;
    --orange-color: #262626;
    --menu-bg: var(--orange-color);
    --input-border-color: #222;
    --input-hover-color: #262626;
    --light-grey-color: #cccfdb;
    --box-bg: #1a1a1a;
}

/* .dark header img {
    filter: invert(1) hue-rotate(180deg) brightness(105%) contrast(105%);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
    border: 1px dotted red; */
}

html {
    font-size: 65.5%;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* background: url('http://portal2.tmu.ac.in/images/TMU1-img.jpg') center;
    background-size: cover;
    background-repeat: no-repeat; */
    background: #f5f5f5;
}


/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dark {
    background: #121212;
}

h1 {
    font-size: 3.8rem;
    line-height: 4rem;
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 4rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.4rem;
    line-height: 2rem;
}

h6 {
    font-size: 1.2rem;
    line-height: 2rem;
}


.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.hide,
.hide-lg {
    display: none !important;
}

.cursor,
.cursor-lg {
    cursor: pointer;
}

.cursor-normal {
    cursor: default !important;
}

.responsive-img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    margin: 0 auto;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.cursor-lg {
    cursor: pointer;
}

.glow {
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.w-0 {
    width: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.shadow {
    background: var(--theme-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bg-border-none {
    background: none;
    border: none;
}

.half-bg-text {
    background: linear-gradient(to top, var(--orange-color) 50%, transparent 50%);
}

svg {
    color: var(--primary-color);
}

#menuCollapse,
#toggleTheme svg {
    color: var(--primary-color);
}

header {
    position: sticky;
    top: 0;
    right: 0;
    width: 75%;
    float: right;
    padding: 1rem 0;
    z-index: 99;
    transition: width 0.5s ease;
}

.nav {
    height: 100%;
    width: 95%;
    padding: 1rem 2.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 50rem;
    background: var(--theme-color);
}

.menu-toggle {
    line-height: 1.9;
    margin: auto;
    font-size: 1.4rem;
    padding: 1rem 3rem;
    border: none;
    background: var(--menu-bg);
    color: var(--primary-color);
}

.menu-toggle svg {
    vertical-align: middle;
    margin-bottom: .3rem;
}


.user-profile {
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--light-grey-color);
    cursor: pointer;
}

.user-profile:hover {
    outline: 3px solid var(--blue-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    min-width: 23rem;
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    border-radius: 18px;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    border-radius: 7px;
    display: block;
}

.dropdown a:hover {
    background-color: var(--orange-color);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 25%;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    overflow-x: scroll;
    scrollbar-track-color: none;
    scroll-behavior: smooth;
    transition: display 0.5s ease;
}

.sidebar .menu-toggle {
    position: sticky;
    width: 100%;
    top: 20px;
    margin-bottom: 5rem;
}

.sidebar ul {
    list-style-type: none;
    text-align: left;
}

.sidebar .active {
    background: var(--orange-color);
}

.sidebar li {
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    width: 100%;
    line-height: 2.9;
    padding: 0 2rem;
    border-radius: 9px;
}

.sidebar .accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sidebar .accordion {
    margin-left: 1.5rem;
}

.sidebar .accordion a {
    color: var(--primary-color);
}

.sidebar li:hover {
    background: var(--orange-color);
    color: var(--theme-color);
}

.sidebar a {
    color: var(--primary-color);
    text-decoration: none;
}

.sidebar li span {
    float: right;
    margin-top: .4rem;
}

.sidebar li span.left {
    float: left;
    margin-right: 1.5rem;
}

.sidebar .disbaled {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.6rem;
}

.sidebar .disbaled:hover {
    background: none;
    text-decoration: none;
}

.sidebar h3 {
    margin: 3rem auto 2.3rem auto;
    color: var(--primary-color);
}

main {
    width: 100%;
    padding: 1rem 0;
    overflow-x: scroll;
}

main .container-fluid {
    height: 100%;
    width: 75%;
    float: right;
    padding: .6rem 2.2rem;
}

.content-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    float: right;
    padding: .6rem 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.breadcrumb {
    font-size: 14px;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin: 0 5px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #333;
}

.breadcrumb li a:hover {
    color: #ff8533;
    text-decoration: underline;
}


main .box img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    outline: 4.5px solid var(--blue-color);
}

main .box {
    flex-direction: column !important;
    padding: 4rem 3rem !important;
}

.page-container,
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    color: var(--primary-color);
    width: 100%;
}

.page-container {
    align-items: start;
    transition: margin-left 0.5s ease;
}

.box {
    background: var(--box-bg);
    padding: 3rem 5.5rem 3rem .5rem;
    margin: 1rem 0;
    border-radius: 18px;
    font-size: 1.4rem;
    flex-direction: row;
    font-weight: 600;
}

.box img {
    max-width: 100%;
    max-height: 26rem;
    height: auto;
}

.heading {
    color: var(--primary-color);
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-card .input-group {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.profile-card .input-labels {
    padding: 1.5rem 0;
    margin-bottom: 0 !important;
    width: 50%;
}


.profile-card .input-wrapper {
    width: 50%;
}

.input-labels {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline;
}

.input-labels a {
    color: var(--primary-color);
    font-size: 1.1rem;
    float: right;
}

.border-0 {
    border: none;
    box-shadow: none !important;
}

main .input-wrapper {
    padding-right: 1rem;
}

.input-wrapper {
    display: flex;
    width: 100%;
    height: 4.3rem;
    border: 1px solid var(--input-border-color);
    box-shadow: 0 1px 2px var(--input-border-color);
    color: var(--primary-color);
    border-radius: 10px;
    outline: none;
    padding-left: 1.8rem;
    align-items: center;
    transition: .2s;
    background: var(--theme-color);
    cursor: text;
}

.input-wrapper:focus-within {
    border: 2px solid var(--blue-color);
    background: var(--theme-color);
}

.input-wrapper:hover {
    background: var(--input-hover-color);
}

.input-wrapper .icon {
    height: 100%;
    margin-top: -0.1rem;
    margin-right: .3rem;
}

.search-group {
    width: 100%;
    padding: 0 !important;
    margin-bottom: 3rem !important;
}

.search-input {
    padding-right: 1.3rem;
    width: 100%;
}

.input-field {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    color: var(--primary-color);
    font-size: 1.3rem;
}

.input-group button {
    width: 100%;
    max-width: 36rem;
    height: 4.3rem;
    margin: 0 auto;
    font-size: 1.2rem;
    border: none;
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    transition: .2s;
    background: var(--dark-color);
    color: var(--theme-color);
}

.input-group button:hover {
    background: var(--dark-lighter-color);
}

@media screen and (max-width: 992px) {
    html {
        font-size: 73.5%;

    }

    .hide-lg {
        display: block !important;
    }

    .hide-md {
        display: none !important;
    }

    /* header{
        padding: 0;
    } */

    .nav {
        /* width: 100%;
        border-radius: 0; */
        padding: .8rem 1.5rem;
    }

    .col-md-12,
    .sidebar,
    .container-fluid,
    header {
        width: 100% !important;
    }

    .cursor-lg {
        cursor: none;
    }

    .sidebar {
        height: auto;
        z-index: 999;
    }

    /* 
    .sidebar li,
    .sidebar a,
    .dropdown-content a {
        cursor: none;
    } */

    .container-fluid {
        float: none !important;
        padding: 0 .5rem !important;
    }

    .box {
        padding: 3rem 1.7rem;
        margin: 1.5rem 0;
        flex-direction: column;
    }

    .box img {
        max-height: 20rem;
    }

}