<div class="container-fluid">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-6 col-md-12">
                <div class="box profile-card">
                    <img src="assets/img/christian-buehner-DItYlc26zVI-unsplash.jpg" alt="" srcset="">
                    <h3>John Doe</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-labels">
                                    <label for="email">Email.</label>
                                </div>
                                <div class="input-wrapper border-0">
                                    <input class="input-field" value="johndoe@example.com" type="email"
                                        name="email" id="email">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-labels">
                                    <label for="mobile">Mobile</label>
                                </div>
                                <div class="input-wrapper border-0">
                                    <input class="input-field" value="9876543210" type="number" name="mobile"
                                        id="mobile">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-labels">
                                    <label for="city">City</label>
                                </div>
                                <div class="input-wrapper border-0">
                                    <input class="input-field" value="Pune" type="text" name="city" id="city">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-labels">
                                    <label for="address">Address</label>
                                </div>
                                <div class="input-wrapper border-0">
                                    <input class="input-field" value="A-103, Civil lines" type="text"
                                        name="address" id="name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-12">
                <div class="page-container">
                    <div class="box">
                        <h3 class="heading text-left">Personal</h3>
                        <div class="row">
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="Userid">Enrollment no.</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="TCA2309023" type="text" name="Userid"
                                            id="Userid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="stnumber">Student number</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="ST/######" type="text" name="stnumber"
                                            id="stnumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="ABCid">ABC ID</label>
                                        <a href="#!">Generate ABC ID</a>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="5503872752855" type="number"
                                            name="ABCid" id="ABCid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="John Doe" type="text" name="name"
                                            id="name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="DOB">DOB</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="2050-08-30" type="date" name="DOB"
                                            id="DOB">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="category">Category</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="OBC" type="text" name="category"
                                            id="category">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="fathername">Father Name</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="Michael Doe" type="text"
                                            name="fathername" id="fathername">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="mothername">Mother Name</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="Catherine Doe" type="text" name="name"
                                            id="mothername">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="Mentor">Mentor</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="Omar Ahmed Al-Farsi2023-2024"
                                            type="text" name="Mentor" id="Mentor">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="course">Course</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="B.Tech-001" type="text" name="course"
                                            id="course">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="section">Section</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="A" type="text" name="section"
                                            id="section">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="semester">Semester</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="II" type="text" name="semester"
                                            id="semester">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="input-group">
                                    <div class="input-labels">
                                        <label for="batch">Batch</label>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" value="2023-2024" type="text" name="batch"
                                            id="batch">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="box shadow">
                    <div class="input-group">
                        <button name="submit" class="cursor-lg" id="submit">Submit Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>