<div class="container-fluid">
    <div class="box table-box">
        <h4 class="heading half-bg-text mt-2">External Datesheet</h4>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Code</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Shift</th>
                        <th>Semester</th>
                        <th>Exam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>EAS211</td>
                        <td>ENGINEERING MATHEMATICS-II</td>
                        <td>04 Mar 2024</td>
                        <td>09:30:00</td>
                        <td>13:00:00</td>
                        <td class="text-center">2</td>
                        <td class="text-center">II</td>
                        <td class="text-center">External</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>EAS213</td>
                        <td>ENGINEERING CHEMISTRY</td>
                        <td>05 Mar 2024</td>
                        <td>09:30:00</td>
                        <td>13:00:00</td>
                        <td class="text-center">2</td>
                        <td class="text-center">II</td>
                        <td class="text-center">External</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>TGE203</td>
                        <td>ENGLISH COMMUNICATION-II</td>
                        <td>06 Mar 2024</td>
                        <td>09:30:00</td>
                        <td>13:00:00</td>
                        <td class="text-center">2</td>
                        <td class="text-center">II</td>
                        <td class="text-center">External</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>ECS201</td>
                        <td>COMPUTER BASICS & C PROGRAMMING</td>
                        <td>09 Mar 2024</td>
                        <td>09:30:00</td>
                        <td>13:00:00</td>
                        <td class="text-center">2</td>
                        <td class="text-center">II</td>
                        <td class="text-center">External</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td>EEC211</td>
                        <td>BASIC ELECTRONICS ENGINEERING</td>
                        <td>09 Mar 2024</td>
                        <td>11:30:00</td>
                        <td>16:00:00</td>
                        <td class="text-center">3</td>
                        <td class="text-center">II</td>
                        <td class="text-center">External</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="disclaimer-msg">Note: In case of incorrect accuracy of the data above contact
            your
            Coordinator</p>
    </div>
</div>